.appcontainer {
    border-color: red;
    border-style: solid;
}

.rating {
    border-color: red;
    border-style: solid;
}

.reviews {
    border-color: red;
    border-style: solid;
}

.analysis {
    border-color: red;
    border-style: solid;
}

.sidebar {
    border-color: red;
    border-style: solid;
}

.visitors {
    border-color: red;
    border-style: solid;
}

