.appcontainer {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: rgb(241, 241, 241);
    margin: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    display: grid;
    grid-template-rows: 200px 300px;
    grid-template-columns: repeat(4, 1fr)

}

.rating {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
}

.ratingnumbers {
    font-size: 23px;
    font-weight: 500;
} 

.reviews {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
}

.reviewsnumbers {
    font-size: 23px;
    font-weight: 500;
}

.analysis {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
    margin-right: 1rem;
    text-align: center;
}

.sidebar {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sidebarmenu {
    margin-top: 5rem;
    margin-left: 1.5rem;
}

.visitors {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    grid-column-start: 2;
    grid-column-end: 5;
}

.visitorsnumbers {
    font-size: 23px;
    font-weight: 500;
}

