.appcontainer {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: rgb(241, 241, 241);
    margin: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    display: grid;
    grid-template-rows: 200px 300px;
    grid-template-columns: repeat(4, 1fr)

}

.rating {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
}

.reviews {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
}

.analysis {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

.sidebar {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    grid-row-start: 1;
    grid-row-end: 3;
}

.visitors {
    /* border-color: red; */
    /* border-style: solid; */
    background-color: lightgray;
    margin: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    grid-column-start: 2;
    grid-column-end: 5;
}

